<ion-view view-title="Pagina de Inicio">
  <ion-content>
    <h1>Bienvenidos alumnos</h1>
    <p><strong>I :</strong> Para realizar este examen disponen de 100 minutos. </p>
    <p><strong>II :</strong>Para aprobar, son obligatorios los primeros tres(3) puntos.</p>
    <p><strong>III :</strong>El testing se Realiza en sus celulares.</p>
    <h2>Recomendaciones</h2>
    <p><strong>#</strong>Utilizar GitHub</p>
    <p><strong>#</strong>Consultar cualquier duda</p>
    <p><= En el menú lateral tiene los enunciados</p>
    <strong>Exitos!!!</strong>
  </ion-content>
</ion-view>
