<ion-view view-title="Punto Cuatro">
  <ion-content>
    <h1>Bienvenidos alumnos</h1>
     <p>Punto {{punto}})utilizar: </p>
     <p>cordova plugin add cordova-plugin-device-motion </p>
     <p>$window</p>
     <p>cordova plugin add https://github.com/EddyVerbruggen/Flashlight-PhoneGap-Plugin.git</p>
    <br>
    <p>Modificar la posición de la imagen e indicar cuando la imagen  superó la mitad de la pantalla</p>
    <strong><h1>A- </h1>reemplazando los ????? por un valor boleano que cambiará según la posición de la imagen</strong>
     <strong><h1>B- </h1>al superar la mitad, encender la linterna automaticamente </strong>
       <strong><h1>C- </h1>al superar la mitad, mostar un mensaje Toast</strong>
      <h3> llego a la mitad = ?????<h3>
    <br>

     <!-- <img style="height:100px; width:100px;position:absolute;z-index:3;top:10px;left:80px;"  ng-src="img/ionic.png"> -->
     <img style="height:100px; width:100px;position:absolute;z-index:3;top:{{datos.X}}px;left:{{datos.X}}px;"  ng-src="img/ionic.png">
    <br>
  
  </ion-content>
</ion-view>
