<ion-view view-title="Punto Tres">
  <ion-content>
    <h1>Bienvenidos alumnos</h1>
     <p>Punto {{punto}})utilizar: </p>
     <p>cordova plugin add cordova-plugin-device</p>
    <p>Tendrán  que reemplazar los ???????? por los detalles de tu celular</p>
    <br>
     <div class="row">
  <div class="col"></div>
  <div class="col">Requerimiento</div>
  <div class="col">Su Celular</div> 
    </div>
      <div class="row">
        <div class="col">Marca</div>
  <div class="col">Samsung, LG</div>
  <div class="col"> {{manufacturer}}</div> 
    </div>
      <div class="row">
        <div class="col">Modelo</div>
  <div class="col">S3, G3</div>
  <div class="col">{{model}}</div> 
    </div>
     <div class="row">
        <div class="col">S.O.</div>
  <div class="col">Android</div>
  <div class="col">{{platform}}</div> 
    </div>
         <div class="row">
        <div class="col">Versión</div>
  <div class="col">5.0.1</div>
  <div class="col">{{version}}</div> 
    </div>
  </ion-content>
</ion-view>
